body{
    background-color: rgb(8, 8, 59);
}

@keyframes reveal{
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes scroller {
    to {
       transform: scale(1, 1);
    }
   }
.container .box{
    background-color: whitesmoke;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    animation-name: reveal;
    /* animation-duration: 2s; */
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}
.scroller {
    height: 10px;
    position: fixed;
    top: 0%;
    z-index: 100;
    background-color: #00c2cb;
    width: 100%;
    transform: scale(0, 1);
    transform-origin: left;
    animation: scroller linear;
   animation-timeline: scroll();
  }