body{
    background-color: rgb(8, 8, 59);
}

@keyframes reveal{
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.container .box{
    background-color: whitesmoke;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    animation-name: reveal;
    /* animation-duration: 2s; */
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}